<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title></title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<table class="w h">
		<tr>
			<td class="w5"></td>
			<td>
				<table class="first" align="center">
					<tr>
						<td class="hed">
							<table>
								<tr>
									<td>
										<table style="margin:34px 0px 0px 43px">
											<tr><td><a href="index.html"><img alt="" src="images/l1.gif"></a></td></tr>
											<tr><td class="menu" style="padding:90px 0px 0px 72px">
												<a href="index-1.html"><img alt="" src="images/n1.gif"></a>
												<a href="index-2.html"><img alt="" src="images/n2.gif"></a>
												<a href="index-3.html"><img alt="" src="images/n3.gif"></a>
												<a href="index-4.html"><img alt="" src="images/n4.gif"></a>
												<a href="index-5.html"><img alt="" src="images/n5.gif"></a>
											</td></tr>
										</table>
									</td>
									<td>
										<table style="margin:93px 0px 0px 4px">
											<tr>
												<td colspan="2" style=" padding-bottom:34px;"><img alt="" src="images/l2.gif" style="margin:0px 131px 0px 27px"><a href="#"><img alt="" src="images/l3.gif" border="0"></a></td>
											</tr>
											<tr>
												<td><img alt="" src="images/p1.jpg"></td>
												<td><img alt="" src="images/p2.jpg"><br><img alt="" src="images/p3.jpg"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height:16px;"><img alt="" src="images/k1.gif"></td>
					</tr>
					<tr>
						<td class="h">
							<table class="cont w h">
								<tr><td class="cont_n">
									<table class="h" style="width:728px;margin:0px 0px 0px 23px;">
										<tr>
											<td style="width:258px;background:url(images/x.gif) repeat-y 8px 0px;">
												<table class="w h" style="background:url(images/x1.gif) top no-repeat;">
													<tr><td style="background:url(images/x2.gif) bottom no-repeat;">
														<table style="width:227px;margin:12px 0px 0px 15px;">
															<tr><td class="hh h1"><span><img alt="" src="images/1t1.gif"></span></td></tr>
															<tr><td>
																<table style="width:206px;margin:8px 0px 15px 0px;">
																	<tr><td>
																		<img alt="" src="images/1p.jpg" align="left" style="margin:0px 10px 0px 0px">
																		Lorem ipsum dolor <a href="#">amet consec tetuer</a> adipiscing elit.<br><br style="line-height:4px">
																		<span>Jan. 11, 2007</span>
																	</td></tr>
																	<tr><td style="height:15px; background:url(images/dot.gif) repeat-x center;"></td></tr>
																	<tr><td>
																		<img alt="" src="images/1p1.jpg" align="left" style="margin:0px 10px 0px 0px">
																		Praesent ves tibulum molestie lacus. <a href="#">Aenean nonummy.</a><br><br style="line-height:4px">
																		<span>Dec. 17, 2006</span>
																	</td></tr>
																	<tr><td style="height:15px; background:url(images/dot.gif) repeat-x center;"></td></tr>
																	<tr><td>
																		<img alt="" src="images/1p2.jpg" align="left" style="margin:0px 10px 0px 0px">
																		Phasellus porta. Fusce <a href="#">suscipit varius mi sociis</a> natoque.<br><br style="line-height:4px">
																		<span>Dec. 05, 2006</span>
																		
																	</td></tr>
																</table>
															</td></tr>
														</table>
													</td></tr>
												</table>
											</td>
											<td><img alt="" src="images/spacer.gif" width="2" height="1"></td>
											<td style="width:468px;">
												<table class="w" style="background:url(images/xx.gif) repeat-y 7px 0px;">
													<tr><td style="background:url(images/xx1.gif) top no-repeat;">
														<table class="w h" style="background:url(images/xx3.gif) bottom no-repeat;">
															<tr><td>
																<table style="width:440px;height:197px;margin:12px 0px 5px 16px;">
															<tr>
																<td style="width:300px;">
																	<table class="w h">
																		<tr><td class="hh h2"><span><img alt="" src="images/1t2.gif"></span></td></tr>
																		<tr><td class="h" style="padding:11px 0px 0px 0px">
																			<table class="h" style="width:307px;">
																				<tr>
																					<td class="h" style="width:97px; background:url(images/w3.gif) no-repeat right bottom;">
																						<table class="h">
																							<tr><td><img alt="" src="images/1p3.jpg"><span class="b">John<br>Stone</span>
																							</td></tr>
																							<tr><td class="h" style=" vertical-align:bottom">
																								<a href="#"><img alt="" src="images/link2.gif" style="margin:0px 0px 5px 23px"></a>
																							</td></tr>
																						</table>
																					</td>
																					<td class="h" style="width:1px;">
																						<table class="h">
																							<tr><td class="h" style="width:1px; background:url(images/lin.gif);"><img alt="" src="images/spacer.gif" width="1" height="1"></td></tr>
																							<tr><td style="height:7px;"><img src="images/spacer.gif" alt="" align="top" style="width:1px; height:7px;"/></td></tr>
																						</table>
																					</td>
																					<td class="h" style="width:104px;background:url(images/w3.gif) no-repeat right bottom;">
																						<table class="h">
																							<tr><td>
																								<img alt="" src="images/1p4.jpg" style="margin:0px 0px 0px 7px">
																								<span class="b" style=" margin-left:7px">Samuel<br>davidson</span>
																							</td></tr>
																							<tr><td class="h" style=" vertical-align:bottom">
																								<a href="#"><img alt="" src="images/link2.gif" style="margin:0px 0px 5px 30px"></a>
																							</td></tr>
																						</table>
																					</td>
																					<td class="h" style="width:1px;">
																						<table class="h">
																							<tr><td class="h" style="width:1px; background:url(images/lin.gif);"></td></tr>
																							<tr><td height="7"><img src="images/spacer.gif" alt="" align="top" style="width:1px; height:7px;"/></td></tr>
																						</table>
																					</td>
																					<td class="h" style="width:104px;background:url(images/w3.gif) no-repeat right bottom;">
																						<table class="h">
																							<tr><td>
																								<img alt="" src="images/1p5.jpg" style="margin:0px 0px 0px 7px">
																								<span class="b" style=" margin-left:7px">Tommy<br>Broun</span>
																							</td></tr>
																							<tr><td class="h" style=" vertical-align:bottom">
																								<a href="#"><img alt="" src="images/link2.gif" style="margin:0px 0px 5px 30px"></a>
																							</td></tr>
																						</table>
																					</td>
																				</tr>
																			</table>
																		</td></tr>
																		<!--<tr><td><img alt="" src="images/spacer.gif" width="1" height="3"></td></tr>-->
																	</table>
																</td>
																<td class="h" style="width:133px;background:url(images/b.gif) no-repeat top;"><img alt="" src="images/1t3.gif" style="margin:17px 0px 0px 28px"><br><a href="#"><img alt="" src="images/link.gif" style="margin:116px 0px 0px 56px"></a></td>
															</tr>
														</table>
															</td></tr>
														</table>
													</td></tr>
												</table>
											</td>
										</tr>
									</table>
								</td></tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="height:16px;"><img alt="" src="images/k2.gif"></td>
					</tr>
					<tr>
						<td class="foot"><span>Copyright 2007 &copy; BASS Club. <a href="index-6.html">All rights reserved.</a></span></td>
					</tr>
				</table>
			</td>
			<td class="w5"></td>
		</tr>
		<tr><td class="h" colspan="3">
		
		</td></tr>
	</table>
</body>
</html>
